/* Экстрамалые девайсы («телефоны», < 576px) */
@media (max-width: 575.98px) {
    #header .header_base .image{
        display: none;
    }
    #header .header_base .content{
        width: 100%;
        text-align: center;
    }
    #header .header_base .content .text{
        text-align: left;
    }
    #header .header_base .counter{
        max-width: 310px;
    }
    #header .header_base .counter{
        max-width: 550px;
    }
}

/* Малые девайсы («ландшафтные», < 768px) */
@media (max-width: 767.98px) {

    .block2 .title{
        width: 100%;
    }
    .block2 .block2_card{
        flex-direction: column;
        align-items: center;
    }
    .block2 .block2_card .img, .block2 .block2_card .text{
        width: 100%;
    }

    .block3 .form input, .block3 .form button,
    .block6 .form input, .block6 .form button{
        width: 100%;
        margin: 5px auto;
        min-width: 200px;
    }
    .block6 .form .row{
        margin: 0;
    }
    .block4{
        background: url(../images/block4/block4_bg_sm.png)no-repeat center;
        background-size: cover;
    }
    .block6{
        background: url(../images/block6/block6_bg_sm.png)no-repeat center;
        background-size: cover;
    }
    .block3 .form, .block6 .form{
        background: url(../images/block3/block3_bg_sm.png)no-repeat center;
        background-size: cover;
    }
}

/* Средние девайсы («таблетки», < 992px)  */
@media (max-width: 991.98px) {}

/* Большие девайсы (большие десктопы, < 1200px) */
@media (max-width: 1199.98px) {

    h1{
        font-size: 36px;
        line-height: 43px;
    }
    h2{
        font-size: 30px;
        line-height: 36px;
    }
    h3{
        font-size: 24px;
        line-height: 24px;
    }
    
    #header, .block1, .block2, .block3, .block4, .block5, .block6,.block6 {
        padding-right: 16px;
        padding-left: 16px;
    }

    #header .container, .block1 .container, .block2 .container, .block3 .container, 
    .block4 .container, .block5 .container, .block6 .container,
    .block6 .form .container{
        width: 100%;
        padding: 0 10px;
    }
    
    #header .header_base .image{
        align-items: flex-end;
    }

    #header .unvisible{
        display: block;
    }
    #header .visible{
        display: none;
    }

    .block1 .row{
        justify-content: center;
        flex-wrap: wrap;
    }

    .block2_card{
        display: flex;
        flex-direction: row;
        margin-right: 0 ;
        width: 100%;
        max-width: 749px;
    }

    .block2_card .img{
        padding-right: 23px;
        width: 50%;
        max-width: 350px;
        height: auto;
    }    

    .block2_card .text{
        width: 50%;
        margin: auto 16px;
    }

    .block3{
        margin-top: 15px;
        margin-bottom: 45px;
    }

    .block4{
        padding-bottom: 20px;
        padding-top: 30px;
    }

    .block4 .content h2{
        margin-bottom: 30px;
    }

    .block4 h2, .block4 .content{
        text-align: center;
    }

    .block4 .content p, .block4 .content menu{
        text-align: left;
    }

    .block4 .content menu{
        margin-bottom: 35px;
    }

    .block4 .row{
        display: flex;
        flex-direction: column;
    }

    .block4 .content, .block4 .img{
        width: 100%;
        margin-top: 30px;
    }
    
    .block5{
        padding-top: 50px;
        padding-bottom: 40px;
    }

    .block5 .image{
        display: none;
    }

    .block4, .block6{
        background: url(../images/block4/block4_bg_md.png)no-repeat center;
        background-size: cover;
    }
    .block6 .row .block6_card{
        float: none;
        display: inline-block;
        margin: 0 auto;
    }
}



/* Малые девайсы («ландшафтные телефоны», >= 576px) */
@media (min-width: 576px) {}

/* Средние девайсы («таблетки», >= 768px) */
@media (min-width: 768px) {}

/* Большие девайсы (десктопы, >= 992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .block2_card img{
        width: 100%;
        margin-bottom: 26px;
    }
    .block6 .row .block6_card{
        float: left;
    }
}

/* Экстрабольшие девайсы (большие десктопы, >= 1200px) */
@media (min-width: 1200px) {}